/*****************************************************************************
Common styles across all pages

0. Universal attributes and variables
1. navigation in header
2. typography
3. images
4. wave design bottom of screen

****************************************************************************/

/************************************************************
0. Universal Attributes 
************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    /* border: 1px red solid; */

}

/* Variables */
:root {
    /* green scheme */
    /* --dark-green: #577568; */
    --light-text: #F6F3F6;
    --dark-text: #18251e;
    --dark-alt: hsl(300, 14%, 28%);
    --light-tree: #98BD9C;
    --dark-tree: #2C6D35;

    /* new mockup */
    --purple: rgb(102, 54, 209);
    --dark-purple: rgb(65, 28, 134);
    --light-hero-bg: rgb(243, 252, 248);
    --light-teal-accent: rgb(170, 250, 277);
    --dark-green: rgb(31, 75, 59);
    --green-btn: rgb(67, 149, 109);
    --btn-hero: rgb(102, 54, 209); 
    --btn: rgb(65, 28, 134);
    --wave-color: #D0E2DD;
    --light-bg: #cce3de;
    --light-head: #f6fff8;
}


/************************************************************
1. Navigation/Header
************************************************************/

/* nav/footer and just footer */
.header {
    background-color: var(--light-hero-bg);
    border-bottom: none;
  }
  
  nav,
  header {
    border-bottom: none;
  }
  footer {
    background-color: var(--wave-color);
  }
  
  
  footer {
    margin-top: none;
    height: 40px;
  }

/* navigation */

.nav-pills .nav-link.active,
 .nav-pills .show>.nav-link,
 .nav-pills,
 .nav-link,
 .nav-link:hover
  {
    background-color: transparent;
    
}

.nav-link {
    color: var(--dark-text);
}

.nav-link:hover {
    color: var(--dark-purple);
}


.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
}

/************************************************************
2. Typography 
************************************************************/
h1,
p {
    color: var(--dark-green);
}

a.btn-custom,
a.btn-custom:hover {
    background-color: var(--dark-purple) !important;
    border: 1px solid var(--dark-purple);
    color: var(--light-text) !important;
}




.maximg {
    max-width: 300px;
}

.right-align {
    text-align: right;
    margin-right: 10px;
    
}

.left-align {
    text-align: left;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.thumbnail {
    height: 300px;
}

a {
    color: var(--dark-purple);
    font-weight: 700;
     
}

a:hover,
a:visited {
    background-color: var(--light-head);
    color: var(--dark-alt);
    
}
/************************************************************
3. Images 
************************************************************/

.maximg {
    max-width: 300px;
}
.logo-svg-large {
    width: 10rem;
    height: 10rem;
    background-size: 10rem;
  }

.logo-svg {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
 a.github {
    background-image: url(img/github.svg);
  }
  
.github {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }

/************************************************************
4. Wave Design at Bottom of Screen 
************************************************************/

.wave-container {
    background-color: var(--light-hero-bg);
    
  }
  .wave-container > svg {
    display: block;
  }