


/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    /* border: 1px red solid; */

}

/* Variables */
:root {
    /* green scheme */
    --dark-green: #577568;
    --light-text: #F6F3F6;
    --dark-text: #18251e;
    --dark-alt: hsl(300, 14%, 28%);
    --light-bg: #cce3de;
    --light-head: #f6fff8;

 
    --light-tree: #98BD9C;
    --dark-tree: #2C6D35;


    /* Current Scheme */
    --btn: var(--dark-green);  

    --fancy-font: 'Cinzel Decorative', cursive;
    --sub-font: 'Oxygen', sans-serif;
    --basic-font: 'Open Sans', sans-serif;

 


}

body {
    background-color: var(--light-bg);
    font-family: var(--basic-font);
    
}

/* utilities */




h1,
p {
    color: var(--dark-text);
}

.btn-custom,
.btn-custom:hover {
    background-color: var(--btn);
    border: 1px solid var(--dark-alt);
}

.maximg {
    max-width: 300px;
}

.right-align {
    text-align: right;
    margin-right: 10px;
    
}

.left-align {
    text-align: left;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.thumbnail {
    height: 300px;
}

a {
    color: var(--dark-alt);
    font-weight: 700;
    font-style: bold;
}

a:hover {
    background-color: var(--light-head);
    color: var(--dark-alt);
    font-style: italic;
}





.subfont {
    font-family: var(--sub-font);
}

/* Dividers */
.wave-container {
    background-color: var(--light-bg);
    
  }
  .wave-container > svg {
    display: block;
  }


/* navigation */

.nav-pills .nav-link.active,
 .nav-pills .show>.nav-link
  {
    background-color: var(--dark-green);
    
}

.nav-link {
    color: var(--dark-text);
}

.nav-link:hover {
    color: var(--dark-alt);
}

/* hero */

.jumbotron {
    color: white;
    background-image: url("../img/unsplash-trees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
.hero {
    position:absolute;
    top : 35%;
    left: 20%;
}
.hero-text,
.lead {
    font-family: var(--fancy-font);
    color: var(--light-text);
    
}
.hero-text {
    font-size: 4rem;
}
.lead {
    font-size: 2rem;
}

.hero-subtext {
    font-family: var(--basic-font);
    color: var(--light-text);

}

.scroll-info {
    color: white;
    position:absolute;
    top : 87%;
    left: 40%;
    font-size: 1.5rem;
    
}



.small-svg {
    height: 30px;
}
.innerhero {
    /* background-image: url("../pattern.svg"); */
    background: var(--light-head);
}



/* nav/footer and just footer */
header,
.nav,
footer {
    background-color: var(--light-head);
}


footer {
    margin-top: none;
    height: 40px;
}

/* projects */

.projects {
    background-color: white;

}

#projects {
    padding: none;
    margin: none;
}
.project-flex {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

/****************************************************************************
Cards are flexboxes (cardmain) with 2 columns: card-left and card-right.
Cards set up either as: 
card-left: image
card-right: text description

OR content reversed

Each card with text content has items with classes: 
1. card-title (heading)
2. card-text (description)
3. card-button (case study button)
*****************************************************************************/

.cardmain {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    
    width: 98%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    word-wrap: break-word;
    
}

.card-left,
.card-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: calc(50% - 20px);
    
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    

}

.card-img {
    max-height: 340px;
}

.card-title {
    font-size: 1.75rem;
}

.card-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: lighter;
    width: 80%;
}

.card-button {
    justify-content: flex-end;
}


#webapplg .carousel-item.active,
#edlg .carousel-item.active,
#webstylelg .carousel-item.active,
#wheellg .carousel-item.active {
    overflow: hidden;
    max-height: 500px;
}

#projects:after {
    content: "";
    display: table;
    clear: both;
  }





.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    
}



.small-card {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

/*****************************************************************************
About Me and Contact Section

About Me contains flexbox (aboutme-card): 
1. card-title (header)
2. bio (description)
****************************************************************************/


.aboutme {
    
    
    padding: none;
    margin: none;
}

.aboutme-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    padding-top: 15px;

}




/*************
Contact contains flex items: 
1. card-title (heading)
2. contact-info (description)
3. email address
*************/
.contact {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

.contact-info {
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}




/* list of skills */


ul.skills {
    padding: 0;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: var(--dark-alt);
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }

.skills li:nth-child(odd) {
    background: var(--dark-green);
  }


/* SVG */

  a.github {
    background-image: url(img/github.svg);
  }

.github {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}


/* subpages */

.project-desc {
    padding-left: 10%;
    padding-right: 10%;
}

#webapp {
    max-width: 900px;
    margin: 0 auto;
}

.hireme {
    float: right;
}






/* 
========================================================================== 
Media Queries for Mobile and Tablet Views
========================================================================== 
*/

/* --------------------------- 768 and smaller screens */

@media screen and (max-width: 1023px){

/* nav bar */

    .nav-pills,
    .nav-link {
        padding: 0.5rem;
    }

    .fixed-top
    {
    position: relative;
    top: auto;
    }

/* col layout */

#aboutme .row {
    display: none;
}

}
