/********************************************************************
Subpage layout: 

Subcards divided into project-desc, the-approach, flex-group,
things-learned, contact, final-thoughts, slideshow-example

Media Queries at bottom.

********************************************************************/
body {
  background-color: #fbfefc;
  
  
}

.project-desc {
  padding-left: 10%;
  padding-right: 10%;
}

.card-header{
  background-color: transparent;
  border-bottom: none;
  font-size: 3rem;
  color: var(--dark-text);
  
  
}





.the-project {


}


.the-approach {
padding-bottom: 25px;
margin: 0 auto;


}

.things-learned {

}

/********************************************************************
In "Things I Learned" section on subpages, 
flex-group contains 3 flex divs, each with flex-icon class.
flex-icons div contains svg img, h2, and p.
SVG at top, P at bottom.

********************************************************************/

.flex-group {
display: flex;
flex-direction: row;
justify-content: space-between;

color: var(--light-text);
margin-top: 2rem;


}

.flex-icons {
display: flex;
flex-direction: column;
justify-content: center;
width: 30%;
padding: 1rem;

background: var(--purple);
border: 1px solid var(--dark-tree);
border-radius: 5%;



}

.flex-icons > img {
align-self: flex-start;
margin: 1rem auto;
border-radius: 50%;
border: 1px solid var(--light-text);
background-color: var(--light-text);

}

.flex-icons > h2 {
align-self: center;
margin: 0 auto;
color: var(--light-text);
}

.flex-icons > p {
align-self: flex-end;
margin: 0 auto;
padding: 0.5rem;
color: var(--light-text);
}


.final-thoughts {


}

.card-body > h2 {
padding-top: 2rem;
padding-bottom: 2rem;

}


ul.skills-sub {
  
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 15px;
}

.skills-sub li {
border-radius: 6px;
border: 2px solid var(--light-tree);
display: inline-block;
background: white;
color: var(--dark-purple);
background-color: var(--wave-color);
padding: 10px;
margin: 4px;
}

.slideshow-example {
border: 1px solid var(--light-tree);
}

.subcard {
font-size: 1.2rem;
color: var(--dark-text);
line-height: 1.8;
}

.btn-demo {
width: 15rem;
height: 5rem;
font-size: 1.6rem;
padding: 1rem;
}



.hireme {
  float: right;
}

.contact::before{
  background-image: none;
}
.contact-wrapper {
  padding: 0.2rem;
}
.contact {
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-shrink: 1;
    padding: 0.5rem;
    
    min-width: 250px;
  
}
  
  
.contact-info {
  
  padding-top: 5px;
  padding-bottom: 5px;
}
/* circle design on contact button background */
.contact-subpage:before {
    content: "";
    position: absolute;
    display: block;
    top: -6rem;
    left: -5rem;
    width: 100%;
    height: 40rem;
    transform: rotate(45deg);
    opacity: 0.1;
    background-image:
  radial-gradient(
  circle,
  var(--light-teal-accent) 85%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 80%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 75%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 70%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 65%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 60%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 55%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 50%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 45%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 40%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 35%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 30%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 25%,
  transparent 0
  ),
  radial-gradient(
  circle,
  var(--light-teal-accent) 20%,
  transparent 0
  );  
    
  background-size: 1em 1em;
  
  /*
  If you want a vertical pattern change to repeat-x, also remember to  switch the background-positions' values. Eg. "2em 0" becomes "0 2em".
  */
  background-repeat: repeat-y;
  
  /*
  based on background-size value
  */
  background-position:
  0 0, 
  1em 0, 
  2em 0, 
  3em 0, 
  4em 0, 
  5em 0, 
  6em 0,
  7em 0,
  8em 0,
  9em 0,
  10em 0,
  11em 0,
  12em 0,
  13em 0;
}
  
/* contains the background gradient */  
.contact-subpage {
    background-image: linear-gradient(to right, rgb(109, 40, 217), rgb(109, 40, 217), rgb(79, 70, 229));
    color: var(--light-hero-bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    position: relative;
    padding: 2rem;
}
    
.contact-info {
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact > h1,
.contact-subpage > h1 {
  color: var(--light-hero-bg);
}

.contact > h4,
.contact-subpage >h4 {
z-index: 1;
}

.btn-contact {
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  color: var(--light-hero-bg);
  background-color: var(--green-btn) !important; /* keeps defaulting to purple */
}
#webapplg .carousel-item.active,
#edlg .carousel-item.active,
#webstylelg .carousel-item.active,
#wheellg .carousel-item.active {
  overflow: hidden;
  max-height: 500px;
}





  
  
/* 
========================================================================== 
Media Queries for Mobile and Tablet Views
========================================================================== 
*/



/* --------------------------- 768 and smaller screens */

@media screen and (max-width: 769px){


    /* subpage bold icons (flex-group and flex-icon) */
    .flex-group {
    flex-direction: column;
    justify-content: space-around;
    
    }
    
    .flex-icons {
    width: 70%;
    margin: 1rem auto;
    
    }
    
    
    
    }
      