


/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    /* border: 1px red solid; */

}

/* Variables */
:root {
    /* green scheme */
    --dark-green: #577568;
    --light-text: #F6F3F6;
    --dark-text: #18251e;
    --dark-alt: hsl(300, 14%, 28%);
    --light-bg: #cce3de;
    --light-head: #f6fff8;

 
    --light-tree: #98BD9C;
    --dark-tree: #2C6D35;

    /* new mockup */
    --purple: rgb(102, 54, 209);
    --dark-purple: rgb(65, 28, 134);
    --light-hero-bg: rgb(243, 252, 248);
    --light-teal-accent: rgb(170, 250, 277);
    --btn-hero: var(--purple);  
    --btn: var(--light-tree); 



 


}

body {
    background-color: var(--light-bg);
    
    
}

/* utilities */




h1,
p {
    color: var(--dark-text);
}

.btn-custom,
.btn-custom:hover {
    background-color: var(--btn);
    border: 1px solid var(--dark-alt);
}

.maximg {
    max-width: 300px;
}

.right-align {
    text-align: right;
    margin-right: 10px;
    
}

.left-align {
    text-align: left;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.thumbnail {
    height: 300px;
}

a {
    color: var(--dark-alt);
    font-weight: 700;
    font-style: bold;
}

a:hover {
    background-color: var(--light-head);
    color: var(--dark-alt);
    
}




/* Dividers */
.wave-container {
    background-color: var(--light-bg);
    
  }
  .wave-container > svg {
    display: block;
  }


/* navigation */

.nav-pills .nav-link.active,
 .nav-pills .show>.nav-link
  {
    background-color: var(--dark-green);
    
}

.nav-link {
    color: var(--dark-text);
}

.nav-link:hover {
    color: var(--dark-alt);
}

/* hero */

.jumbotron {
    
    background-color: var(--light-hero-bg);
    background-size: cover;
    height: 80vh;
  }
.hero {
    position:absolute;
    top : 20%;
    left: 10%;
}

.name {
    font-size: 3rem;
    color: var(--light-tree);
}
.hero-desc {
    font-size: 5rem;
    color: var(--dark-text);
}



.btn-hero {
    width: 230px;
    height: 80px;
    margin-top: 30px;
    padding-top: 20px;
    font-size: 1.5rem;
    box-shadow: 2px 2px white;
    background-color: var(--btn-hero);
    
}





/* nav/footer and just footer */
.header {
    background-color: var(--light-hero-bg);
}

.nav,
footer {
    background-color: var(--light-head);
}


footer {
    margin-top: none;
    height: 40px;
}

/* projects */

.projects {
    background-color: var(--dark-purple);
    color: white;

}

#projects {
    padding: none;
    margin: none;
}
.project-flex {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

/****************************************************************************
Cards are flexboxes (cardmain) with 2 columns: card-left and card-right.
Cards set up either as: 
card-left: image
card-right: text description

OR content reversed

Each card with text content has items with classes: 
1. card-title (heading)
2. card-text (description)
3. card-button (case study button)
*****************************************************************************/

#projects,
.aboutme-container {
    padding-bottom: 25px;
    width: 85%;
    margin: 0 auto;
}

.projhead {
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    

}



.cardmain {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;

    background: var(--light-hero-bg);
    border: 1px solid rgba(87, 117, 104, 0.3);
    box-shadow:2px 1px rgba(87, 117, 104, 0.3);
    border-radius: 0.25rem;
    word-wrap: break-word;
    
}

.cardmain:hover {
    box-shadow:3px 3px rgba(125, 240, 190, 0.3);
}

.card-left,
.card-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: calc(50% - 20px);
    
    align-items: center;
    justify-content: space-around;
    padding: 0;
    

}

.card-img {
    max-height: 340px;
    
}

.card-title {
    font-size: 1.75rem;
    color: var(--dark-green);
}

.card-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: lighter;
    width: 80%;
}

.card-button {
    justify-content: flex-end;
}


#webapplg .carousel-item.active,
#edlg .carousel-item.active,
#webstylelg .carousel-item.active,
#wheellg .carousel-item.active {
    overflow: hidden;
    max-height: 500px;
}

#projects:after {
    content: "";
    display: table;
    clear: both;
  }





.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    
}



.small-card {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

/*****************************************************************************
About Me and Contact Section

About Me contains flexbox (aboutme-card): 
1. bio (left side)
2. Skills (right side)

****************************************************************************/



.aboutme {
    padding: 25px 0;
    margin: none;
}

.aboutmehead {
    
    size: 1.5rem;
    padding-bottom: 10px;
}

.aboutme-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.bio {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 25px;

}

.skillscard {
    padding-top: 25px;
    width: 40%;

}

/* list of skills */


ul.skills {
    
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .skills li {
    border-radius: 6px;
    border: 1px solid var(--dark-purple);
    display: inline-block;
    background: var(--light-hero-bg);
    color: var(--dark-green);
    padding: 10px;
    margin: 4px;
  }

.blogcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0.5rem;
}

.left-blogcard{
    width: 40%;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 25px;
    
}

.right-blogcard {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.btn-blog {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    
    background-color: var(--dark-green);
    color: var(--light-hero-bg);

}


/*************
Contact contains flex items: 
1. card-title (heading)
2. contact-info (description)
3. email address
*************/
.contact {
    background-color: var(--purple);
    color: var(--light-hero-bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

.contact-info {
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact > h1 {
    color: var(--light-hero-bg);
}

.btn-contact {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    color: var(--light-hero-bg);
    background-color: var(--light-tree);

}

/* SVG */

.logo-svg {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

  a.github {
    background-image: url(img/github.svg);
  }

.github {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}


/* subpages */

.project-desc {
    padding-left: 10%;
    padding-right: 10%;
}

#webapp {
    max-width: 900px;
    margin: 0 auto;
}

.hireme {
    float: right;
}






/* 
========================================================================== 
Media Queries for Mobile and Tablet Views
========================================================================== 
*/

/* todo card layouts */

/* --------------------------- 768 and smaller screens */

@media screen and (max-width: 1023px){

/* nav bar */

    .nav-pills,
    .nav-link {
        padding: 0.5rem;
    }

    .fixed-top
    {
    position: relative;
    top: auto;
    }

.cardmain,
.card-left,
.card-right {
    max-width: 100vw;
    flex-direction: column;
}

}
